/* Beable Bakes CSS */

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meriendat&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family:'Itim', cursive;
    box-sizing: border-box;
}

body{
    width: 100%;
}

.image{
    width:100%;
    height:150px;
}
.dropshadow{
      filter: drop-shadow(2px 4px 8px #585858);
}
.main{
    background-image: url('../images/wel8.jpg');
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
    height:100vh;
    width:100%;
}
.main2{
    background-image: url('../images/wel8.jpg');
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
    height:80vh;
    width: 100%;
}
/*Navigation*/
.header{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: fit-content;
    padding: 10px 5px;
    justify-content: center;

}
.one-header{
    display:flex-end;
    color: #ffffff;
}
.header2{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 55px;
    background: rgba(241, 235, 235, 0.904);
}
.header a{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
#logo{
    font-family: 'Itim', cursive;
    margin-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}
#logo-s{
    color: peachpuff;
    margin-left: 6px;
}
#logo a{
    text-decoration: none;
}
#logo-s:hover{
    color: floralwhite;
}
#logo:hover{
    color: peachpuff;
}       
.nav{
    float: right;
    margin-right: 20px;
    font-size: 0.6rem;
}
.act{
    border: 1px solid peachpuff; 
    border-radius: 50px;
    padding: 6px 15px;
}
.nav:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.nav a:hover{
    color: white;
    border: floralwhite;
}
.nav a.search-icon{
    color: peachpuff;
    cursor: pointer;
}
.nav a.search-icon:hover{
    color:floralwhite;
}
/*Search Bar*/
.full-width{
    width: 100%;
    box-sizing: border-box;
}
.full-width.search{
    position: relative;
    background: rgb(252, 246, 246);
    padding: 10px 100px;
    display:none;
}
.search-form{

    position: relative;
    padding-left: 20px;
}
.search-form:before{
    content: '\f002';
    position: absolute;
    top: 0;
    color: #fff;
    top: 7px;
    left: 0;
}
.search-form::placeholder{
    color: #fff;
}
.search-form input{
    width: 30%;
    height: 30px;
    background: none;
    outline: none;
    color: rgb(36, 31, 31);
    font-size: 20px;
    font-family:'Gotu', sans-serif;

}
.close{
    color: #000;
    position: absolute;
    top: 4px;
    right: 0;
    cursor: pointer;
}
/* burger pane */

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    margin: 3px;
    width: 20px;
    height: 2px;
    background-color: peachpuff;
    transition: all 0.3s ease;
}
.active .nav{
    display:block;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-7px, 4px);

}
.toggle .line2{
    transform: rotate(45deg) translate(0px, 4px);
}
.toggle .line3{
    opacity: 0;
}
/*body*/

.sec-body{
    margin: auto;
    max-width: 100%;
    background: url(img6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sect{
    padding-top:40vh;
    margin: auto;
    justify-content:center;
}

.sect2{
    padding-top:30vh;
    margin: auto;
    justify-content:center;
}
.mt{
    margin-top: 0px;
}
.fresh{
    text-align: center;
    font-size: 2.6rem;
    width: 100%;
    padding-top: 40%;
    padding-bottom: 40%;
    background-image: url('../images/b10.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;

}
.wel{
    margin: auto;
    width: 80%;
    overflow:hidden;
    justify-content: center;
    align-items: center;
}
.dis{
    margin: auto;
    text-align: center;
    font-size: 3.6rem;
    width: 100%;
    padding-top:45%;
    padding-bottom: 45%;
    overflow:hidden;
    background-size: cover;
    background-image: url(../images/b10.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;

}
.cont{
    text-align: center;
    overflow: hidden;
}
.cont h1{
    font-weight: bold;
    font-size: 2em;
}
.cont p{
    font-size:1.3rem;

}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap:4px;
    row-gap: 5px;
}

.span-grid{
    grid-column:span 2/3;
    grid-row: span 2/3;
    
}
.wel-sect{
    background-color: #fff;
    box-shadow:0 3px 10px rgba(0, 0, 0, 0.2);
    width: 1/3fr;
    height: 1/3fr;
    padding: 5px;

}
.btn-sect{
    width: fit-content;
    padding: 12px;
    background-color: #e84545;
    border-radius:10px;
    cursor: pointer;    
    object-position: bottom;
}

.btn-sect a{
    font-size:1.2rem;
    color: #fff;
    font-weight: bold;
    text-decoration:none;
}
.btn-sect:hover{
    transform: scale(1.1);
    background-color: #f02d2d;
}
.wel-sect img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* snacks and bakes */
.menu{
    margin:auto;
    width:100%;

}
.menu h1{
    padding-top:10vh;
    padding-bottom:10vh;
    text-align:center;
    font-weight:bold;
    font-size: 2em;
}

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}



.menu-label{
    padding-top:10vh;
    padding-bottom: 10vh;
}
.menu-label h2{
    text-align:center;
    font-size: 1.5em;
    padding:20px;
}
.menu-label p{
    text-align: center;
    font-size:1.1em;
}
.menu-form{
    text-align:center;
    padding-bottom: 5vh;
}
.menu-form input{
    height:6vh;
    width:50%;
    font-size:1em;
    outline:none;
}
.menu-form button{
    color:peachpuff;
    background-color: #810000;
    height:6vh;
    border-radius: 10px;
    font-size: 1.1em;
    padding:10px;
}
.snacks{
    margin: auto;
    padding-bottom: 1rem;
    max-width: 100%;
    display:flex;
    flex-wrap: wrap;
}
.snack-sect{
    margin: auto;
    border-radius: 10px 10px;
    padding:15px 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    width:90%;
    align-items: center;
    margin-bottom: 20px;

}

.snack-sect-label{
    padding-top:5vh;
    padding-bottom: 5vh;
    margin-left: 0;
    font-size: 1.2rem;
    font-weight:bold;
}
.peek{
    text-align: center;
}
.peek b{
    margin: auto;
    color: #810000; 
    font-size:1.5rem;
}
.snack-snack{
    width: 100%;
    margin: auto;
}
.snack-profile{
    margin: auto;
    width: 80%;
    padding: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
.snack-profile .box{
    position: relative;
    margin: 5px;
    box-sizing: border-box;
}
.snack-profile .box:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.snack-profile .box .imgBox{
    margin: auto;
    overflow: hidden;
    transition: transform 3s;
}
/* .snack-profile .box:hover .imgBox {
    transform: scale(1.08);
} */
.snack-profile .box .contents{
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
    max-width: fit-content;
    background: rgba(241, 235, 235, 0.904);
    transform: scaleY(0);
    transition: transform .5s;
    visibility: hidden;
    overflow: hidden;
}
.snack-profile .box:hover .contents{
    visibility: visible;
    transform: scaleY(1.05);
}
.snack-profile .box:hover .contents .detail{
    position: relative;
    top: 0;
    left: 25%;
    transform: translateX(-25%);
    text-align:center;
    padding: 15px;
}
.snack-profile .box .contents .detail h2{
    color: sienna;
    font-size: 0.2rem;
}
.snack-profile .box .contents .detail p{
    font-size: 0.1rem;
    color-interpolation-filters: linearRGB;
}
.snack-name{
    margin: auto;
    color: #810000;
    text-align: center;
    font-weight: bold;
    padding:5px 5px;
}

.categories{
    margin: auto;
    margin-top:0px;
    display: block;
    width:10%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    
    padding: 10px;
}
.catcard{
    justify-content:center;
    margin-top:10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding:25px 0 25px;

}
.catcard h3{
    text-align:center;
    padding: 5px;
    word-wrap: break-word;

}
.catcard li{
    list-style-type:none;    
    padding-left: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
}

/* team */
.team{
    position: relative;
    height: 10vh;
    top:10vh;
    background: linear-gradient(90deg, #ffc7bd, #FFB9C2);

}

.team-title{
    margin: auto;
    justify-content: center;
    padding: 1.5%;
}
.team-title h2{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 1rem;
    color: #ffffff;
}
.team-title p{
    text-align:center;
    font-size: 1.2em;
    color: #ffffff;
}
.our-team{
    
    margin-top: 15vh;
   
}
.teams{
    margin:auto;
    width:60%;
    justify-items:center;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
}

.each-team{
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    background-color:peachpuff;
    height: 50vh;
    border-radius: 60% 40% 40% 20%/ 60% 40% 40% 50%;
    width:50%;
    margin-bottom:20px;

}

.each-team-2{
    justify-items:center;
    box-sizing: border-box;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;    */
    height: 50vh;
    width:50%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom:20px;
}
.child-team{
    padding-top:40%;
    padding-bottom:30%;
    text-align: center;
}
.child-team h2{
    text-align: center;    
    color:peachpuff;
    font-weight:bold;
    font-size:1.4em
}
.child-team h3{
    text-align: center;
    font-weight: bold;
    font-size:1.2em;
}
.child-team p{
    padding-top:8%;
}
/*  */

.res{
    top:0;
    text-align: center;
    font-size: 1.6rem;
    width: 100%;
    height:100vh;
    overflow:hidden;
    background-repeat: no-repeat;
}
.res .content{
    margin:auto;
    text-align: center;
    width: 1/2fr;
    height: 1/2fr;
}
.res-grid{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5px;
}
.cont-grid{
    display:grid;
    grid-template-rows: repeat (2, 1fr);
    gap: 2px;
}
.tab{
    margin: auto;
    overflow:hidden;
    width:70%;
    justify-content: center;
    align-items:center;
}
.tab .bat{
    margin:auto;
    overflow: hidden;
}
.tab .bat h2{
    color: sienna;
    font-size: 60px;

}
.tab .bat p{
    color: black;
    font-size: 1.5rem;
    padding-bottom: 25px;
}
.tab button{
    margin: auto;
    align-items: center;
    background-color: rgb(70, 37, 37);
    border: none;
    border-radius: 50px;
    font-size: 0.9rem;
    padding: 8px;
    max-width: fit-content;
}
.tab a{
    text-decoration: none;
    color:pink;
}
.des{
    margin: auto;
    width: 100%;
    background-color: #000000; 
    padding: 15px;
    padding-bottom: 20px;
}
.des .sed{
    margin: auto;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    width: 80%;
    justify-content: center;
}
.des .sed .seed{
    text-align: center;
    width: 100%;
    line-height: 2rem;
    letter-spacing: 2px;
    font-size: 0.9rem;
    padding: 0.5rem;
}
.des .sed h2{
    color: tomato;
    font-weight: bold;
}

.des .sed p{
    color: floralwhite;
}

.bg1{
    background-color:   #ffffff;
    box-shadow: 10px 10px 5px grey;
    width: 98%;
    height: 700px;
    top: 0;
    left: 0;
}
hr{
    height:15px;
    align-content: center;
    color: black;
}
.footer{
    left:0;
    bottom: 0;
    width:100%;
    position: fixed;
    text-align: center;
    font-size: 0.75rem;
    color: floralwhite;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer2{
    margin: auto;
    text-align: center;
    font-size: 0.75rem;
    color: floralwhite;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #000000; 
}

/* oops */

.oops{
    overflow:hidden;
    width:100%;
    align-items:center;
}
.oops .non{
    position:relative;
    margin:auto;
    padding-top: 40vh; 
    width:70%;
}
.oops .non h1{
    color: sienna;
    font-size: 3em;
}

.oops .non h4{
    color: #ffffff;
    font-size: 1.2rem;
    padding-bottom: 25px;
}

/* Service Page */
.sec-service{
    margin: auto;
    width: 100%;
    background-size: cover;
}
.service-1{
    margin: auto;
    width: 95%;
}
.service-1 h2{
    font-weight: bold;
    text-align: center;
    padding:20px;
    color: #810000;
    font-size: 2em;
}

.service-1 p{
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 25px;
}
.service-1 button{
    margin: auto;
    border: none;
    border-right: 3px solid ;
    font-size: 0.9rem;
    padding: 8px;
    max-width: fit-content;
}
.service-1 button a{
    text-decoration: none;
    color: rgb(70, 37, 37);
    font-weight: bold;
    text-align: center;
}
/* About Page */

/* .sec-about{
    margin: auto;
    width: 100%;
    background-image: url('../images/b10.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */
.about-1{
    margin: auto;
    width: 60%;
    padding-top: 30%;
    padding-bottom:30%;
    text-align: center;
}
.about-1 h1{
    font-size: 1.8rem;
    color: #810000;
    font-weight: bold;
}
.about-1 p{
    font-size: 1rem;
}
.about-2{
    margin: auto;
    margin-top:10vh;
    width: 90%;
    padding-bottom: 15%;
    align-content: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.about-detail{
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
}
.about-detail h3{
    text-align: center;
    padding-top: 3%;
    font-weight: bold;
    font-size: 1.4rem;
}
.about-detail p{
    margin: auto;
    width: 70%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    font-size: 0.75rem;
}

.bancards{
    margin: auto;
    justify-content:center;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width:60%;
}
.smallcard{
    padding: 20% 0 20%;
    box-sizing: border-box;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.smallcard h4{
    text-align: center;
    font-weight: bold;
}

.smallcard p{
    text-align: center
}

.featured{
    margin:auto;
    padding-top: 20px;
    padding-bottom:20px;
    height: fit-content;
}
.feat-prod{
    margin: auto;
    padding: 20px;
}
.featured h2{
    text-align: center;
    font-weight: bold;
}
.featured p{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

}
.feat-img{
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    width: 60%;
}
.feat{
    margin: auto;
}
.feat-card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding:20px;
}
/* Shop */
/* slides */
.slide-container{
    position: relative;
    width: 100%;
    background-color: #000000;

}
.showSlide{
    height: 70vh;
    display: none;
    overflow: hidden;
}
.caption{
    position: absolute;
    color: #fff;
    letter-spacing: 2px;
    width:80%;
    top: 40%;
    left:15% ;
    -webkit-animation-name:post;
    -webkit-animation-duration: 2s;
    animation-name:post;
    animation-duration: 2s;
    z-index: 1;

}
@-webkit-keyframes post{
    from {left: 35%;}
    to {left: 15%;}
}

@keyframes post{
    from {left: 35%;}
    to {left: 15%;}
}

.caption h1{
    color: peachpuff ;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.caption p{
    font-weight: bold;
    font-size: 1rem;
}
.prev, .next{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color:#edeef7;
    transition: 0.1s;
    user-select: none;
}

.prev:hover, .next:hover{
    color: peachpuff;
}


.next{
    right:0;
}
.dotsbox{
    position:absolute ;
    left: 50%;
    transform: translate(-50%);
    bottom:20px;
    cursor: pointer;
}
.dot{
    display:inline-block;
    width:5px;
    height:5px;
    border:2px solid #fff;
    border-radius:50%;
    margin:0 5px;
    cursor:pointer;
    background-color:none;
}

.active, .dot:hover{
    border-color: peachpuff;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: 0.8;}
    to {opacity: 1;}
}
@keyframes fade{
    from {opacity: 0.8;}
    to {opacity: 1;}
}

.hot{
    margin:auto;
    background-color:peachpuff;
    margin-top:30px;
    margin-bottom:30px;
    width:100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.deals h2{
    color:#810000;
    text-align:center;
}
.sec-shop{
    margin: auto;
    width: 100%;
    /* background-image: url('../images/wel8.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.shop-1{
    margin: auto;
    width: 60%;
    padding-top:20%;
    padding-bottom: 20%;
}
.shop-1a{
    margin: auto;
    padding: 10%;
    background: rgba(241, 235, 235, 0.904);
    color: #810000;
}
.shop-1a p{
    text-align: center;
    font-size: 1.2rem;
}
.landing{
    font-family: 'Itim', cursive;
    margin: auto;
    text-align: center;
    color: peachpuff;
    font-size:3.5em;
    font-weight: bold;
}
.pastry{
    color: #ffffff;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size:1.7em;
}
.pastry2{
    margin: auto;
    color: #ffffff;
    justify-items: center;
    text-align: center;
    font-family: 'Merienda', cursive;
    padding-top:20px;
    font-weight: lighter;
    width: 80%;
    font-size:0.75rem;
}
.shopclick{
    margin: auto;
    border-right: 4px solid rgb(144, 95, 5);
    text-align: center;
    width: fit-content;
    padding: 3px 3px;
}

.vibrate-2 {
	-webkit-animation: vibrate-2 0.3s linear infinite both;
	animation: vibrate-2 0.3s linear infinite both;
}


@-webkit-keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.shopclick a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    line-height:8vh;
    font-family: 'Itim', cursive;
}

.shopclick:hover{
    transform: scale(1.2);
     -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
}
i{
    width:25px;
    
}
.badges{
    height:10vh;
    margin: auto;
    justify-content:center;
}
.badges img{
    margin:auto;
    width: 25px;
    height:25px;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    justify-content:center;
    align-items:center;
}

.grid-3{
    grid-template-columns:repeat(3, 1fr);
}
.shad{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    margin: auto;
    width: 80%;
    margin-top:10px;
    margin-bottom: 20px;
}
.glow {
  color: #444;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}
.orderclick{
    margin: auto;
    border-right: 4px solid rgb(144, 95, 5);
    text-align: center;
    width: fit-content;
    padding: 3px 3px;
}
.orderclick a{
    text-decoration: none;
    color: rgb(70, 37, 37);
    font-weight: bold;
    padding-top: 10px;
    line-height:8vh; 
    font-family: 'Itim', cursive;
}

.orderclick:hover{
     transform: scale(1.2);
     -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
}
/* @media Queries */
@media screen and (max-width:1024px){
    .bancards{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .snack-sect{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width:800px){
    .snack-sect{
        grid-template-columns: repeat(3, 1fr);
    }
    .feat-img{
        grid-template-columns: repeat(1, 1fr)
    }
    .about-2{
        grid-template-columns: repeat(1, 1fr);
    }
    .snack-profile{
        width:70%;
    }
   .categories{
       width:20%
   }
}
@media screen and (max-width:580px){

    .sect{
        padding-top:35vh;
    }
    .sect2{
        padding-top:25vh;
    }
    .landing{
        font-size: 2em;
    }
    .pastry{
        font-size: 1.4em;
        padding:8px;
    }
    .service-1 p{
        font-size:1rem;
    }
    .des .sed{
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));

    }
    .snacks{
        display:block;
    }
    .snack-profile{
        margin:auto;
        justify-content:center;
        width:100%;
    }
     .snack-sect{
        grid-template-columns: repeat(2, 1fr);
    }
    .categories{
        display: none;
    }
    body{
        overflow-x: hidden;
    }
    .one-header{
        position: absolute;
        right: 0;
        top: 0;
        height: 50vh;
        display: grid;
        grid-template-columns:1fr;
        align-items: center;
        width: 20%;
        transform: translateX(100%);
        transition:transform 0.9s ease-out;
        background-color: rgba(0, 0, 0, 0.9);
    }
   
    .nav a{
        display:block;
        padding:10px 35px;
        visibility: visible;
    }
    .burger{
        right: 0;
        position:absolute;
        display:initial;
        align-self:flex-end;
        cursor:pointer;
       
    }
    .caption h1{
        font-size: 30px;

    }

    .caption p{
        font-size: 8px;
    }
    
    .prev, .next{
        top: 60%;
    }
    .teams{
        width:90%
    }
    .child-team{
        padding-top: 0;
        padding-bottom: 0;
    }
    .child-team h2{
        font-size:1.2em;
    }
    .child-team h3{
        font-size:0.9em;
    }
    .child-team p{
        font-size:0.75em;
    }
    .each-team-2{
        height:30vh;
        width: 70%;
    }
    .each-team{
        width: 70%;
        height:30vh;
    }
    .team-title{
        padding:2.5%;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navfade{
    from{
        opacity: 0;
        transform: translateX(50px);
        }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width:420px){
    .snack-sect{
        grid-template-columns: repeat(1, 1fr);
    }
    .bancards{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
